<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-white text-center">Fund a social cause</h1>
    <p class="lead text-white text-center">Watch it branch out. Feel happy.</p>
    <p class="lead text-center">
      <a class="large-shadow-btn" href="#" role="button">Sign Up</a>
    </p>
  </div>
  <%= render 'partials/mail' %>
</div>