// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-margin-left {
    margin-left: 4px;
}
.btn-margin-right {
    margin-right: 4px;
}

.navbar {
    background-color: #00C488;
}

.jumbotron-fluid {
    background: rgba(0,196,137,1);
    background: -moz-linear-gradient(top, rgba(0,196,137,1) 0%, rgba(0,171,103,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,196,137,1)), color-stop(100%, rgba(0,171,103,1)));
    background: -webkit-linear-gradient(top, rgba(0,196,137,1) 0%, rgba(0,171,103,1) 100%);
    background: -o-linear-gradient(top, rgba(0,196,137,1) 0%, rgba(0,171,103,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,196,137,1) 0%, rgba(0,171,103,1) 100%);
    background: linear-gradient(to bottom, rgba(0,196,137,1) 0%, rgba(0,171,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c489', endColorstr='#00ab67', GradientType=0 );
    min-height: 500px;
}

.large-shadow-btn {
    box-shadow: 0 -2px 0 rgba(0,0,0,0.12) inset, 0 0 2px rgba(0,0,0,0.08), 0 4px 6px rgba(0,0,0,0.08), 0 12px 16px rgba(0,0,0,0.08);
    background-color: #00C488;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 20px 40px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: normal;
}

.large-shadow-btn:hover {
    background: #19c993;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 -2px 0 rgba(0,0,0,0.12) inset, 0 0 2px rgba(0,0,0,0.08), 0 12px 16px rgba(0,0,0,0.08), 0 16px 32px rgba(0,0,0,0.08), 0 24px 36px rgba(0,0,0,0.08);
    text-decoration: none !important;
    color: #FFFFFF !important;
}