<div class="container">
  <h1>Congratulations! Your project has been funded</h1>
  <p class="lead">Pay forward the generosity and support of your backers by choosing a project of your choice to donate 10% of your funded amount</p>
  <p>Amount: <%= @paid_forward.amount %></p>
</div>